<a href="https://colab.research.google.com/github/ShoroukGamal/machine-learning-projects/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("WiDS Dataton.csv")

In [ ]:
df.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75757 entries, 0 to 75756
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year_Factor                75757 non-null  int64
 1   State_Factor               75757 non-null  object
 2   building_class             75757 non-null  object
 3   facility_type              75757 non-null  object
 4   floor_area                 75757 non-null  float64
 5   year_built                 73920 non-null  float64
 6   energy_star_rating         49048 non-null  float64
 7   ELEVATION                  75757 non-null  float64
 8   january_min_temp           75757 non-null  int64
 9   january_avg_temp           75757 non-null  float64
 10  january_max_temp           75757 non-null  int64
 11  february_min_temp          75757 non-null  int64
 12  february_avg_temp          75757 non-null  float64
 13  february_max_temp          75757 non-null  int64
 14  march_min_temp             75757 non-null  int64
 15  march_avg_temp             75757 non-null  float64
 16  march_max_temp             75757 non-null  int64
 17  april_min_temp             75757 non-null  int64
 18  april_avg_temp             75757 non-null  float64
 19  april_max_temp             75757 non-null  int64
 20  may_min_temp               75757 non-null  int64
 21  may_avg_temp               75757 non-null  float64
 22  may_max_temp               75757 non-null  int64
 23  june_min_temp              75757 non-null  int64
 24  june_avg_temp              75757 non-null  float64
 25  june_max_temp              75757 non-null  int64
 26  july_min_temp              75757 non-null  int64
 27  july_avg_temp              75757 non-null  float64
 28  july_max_temp              75757 non-null  int64
 29  august_min_temp            75757 non-null  int64
 30  august_avg_temp            75757 non-null  float64
 31  august_max_temp            75757 non-null  int64
 32  september_min_temp         75757 non-null  int64
 33  september_avg_temp         75757 non-null  float64
 34  september_max_temp         75757 non-null  int64
 35  october_min_temp           75757 non-null  int64
 36  october_avg_temp           75757 non-null  float64
 37  october_max_temp           75757 non-null  int64
 38  november_min_temp          75757 non-null  int64
 39  november_avg_temp          75757 non-null  float64
 40  november_max_temp          75757 non-null  int64
 41  december_min_temp          75757 non-null  int64
 42  december_avg_temp          75757 non-null  float64
 43  december_max_temp          75757 non-null  int64
 44  cooling_degree_days        75757 non-null  int64
 45  heating_degree_days        75757 non-null  int64
 46  precipitation_inches       75757 non-null  float64
 47  snowfall_inches            75757 non-null  float64
 48  snowdepth_inches           75757 non-null  int64
 49  avg_temp                   75757 non-null  float64
 50  days_below_30F             75757 non-null  int64
 51  days_below_20F             75757 non-null  int64
 52  days_below_10F             75757 non-null  int64
 53  days_below_0F              75757 non-null  int64
 54  days_above_80F             75757 non-null  int64
 55  days_above_90F             75757 non-null  int64
 56  days_above_100F            75757 non-null  int64
 57  days_above_110F            75757 non-null  int64
 58  direction_max_wind_speed   34675 non-null  float64
 59  direction_peak_wind_speed  33946 non-null  float64
 60  max_wind_speed             34675 non-null  float64
 61  days_with_fog              29961 non-null  float64
 62  site_eui                   75757 non-null  float64
 63  id                         75757 non-null  int64
dtypes: float64(24), int64(37), object(3)
memory usage: 37.0+ MB

In [ ]:
df.drop(["days_with_fog", "max_wind_speed", "direction_max_wind_speed", "direction_peak_wind_speed","id"], inplace=True, axis=1)

In [ ]:
df.isnull().sum().sort_values(ascending=False).head(10)

energy_star_rating     26709
year_built              1837
Year_Factor                0
heating_degree_days        0
september_avg_temp         0
september_max_temp         0
october_min_temp           0
october_avg_temp           0
october_max_temp           0
november_min_temp          0
dtype: int64

In [ ]:
df.drop(["energy_star_rating"], inplace=True, axis=1)

In [ ]:
np.array(df["year_built"]).reshape(-1, 1).shape

(75757, 1)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
df["year_built"] = imputer.fit_transform(np.array(df["year_built"]).reshape(-1, 1))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75757 entries, 0 to 75756
Data columns (total 58 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year_Factor           75757 non-null  int64
 1   State_Factor          75757 non-null  object
 2   building_class        75757 non-null  object
 3   facility_type         75757 non-null  object
 4   floor_area            75757 non-null  float64
 5   year_built            75757 non-null  float64
 6   ELEVATION             75757 non-null  float64
 7   january_min_temp      75757 non-null  int64
 8   january_avg_temp      75757 non-null  float64
 9   january_max_temp      75757 non-null  int64
 10  february_min_temp     75757 non-null  int64
 11  february_avg_temp     75757 non-null  float64
 12  february_max_temp     75757 non-null  int64
 13  march_min_temp        75757 non-null  int64
 14  march_avg_temp        75757 non-null  float64
 15  march_max_temp        75757 non-null  int64
 16  april_min_temp        75757 non-null  int64
 17  april_avg_temp        75757 non-null  float64
 18  april_max_temp        75757 non-null  int64
 19  may_min_temp          75757 non-null  int64
 20  may_avg_temp          75757 non-null  float64
 21  may_max_temp          75757 non-null  int64
 22  june_min_temp         75757 non-null  int64
 23  june_avg_temp         75757 non-null  float64
 24  june_max_temp         75757 non-null  int64
 25  july_min_temp         75757 non-null  int64
 26  july_avg_temp         75757 non-null  float64
 27  july_max_temp         75757 non-null  int64
 28  august_min_temp       75757 non-null  int64
 29  august_avg_temp       75757 non-null  float64
 30  august_max_temp       75757 non-null  int64
 31  september_min_temp    75757 non-null  int64
 32  september_avg_temp    75757 non-null  float64
 33  september_max_temp    75757 non-null  int64
 34  october_min_temp      75757 non-null  int64
 35  october_avg_temp      75757 non-null  float64
 36  october_max_temp      75757 non-null  int64
 37  november_min_temp     75757 non-null  int64
 38  november_avg_temp     75757 non-null  float64
 39  november_max_temp     75757 non-null  int64
 40  december_min_temp     75757 non-null  int64
 41  december_avg_temp     75757 non-null  float64
 42  december_max_temp     75757 non-null  int64
 43  cooling_degree_days   75757 non-null  int64
 44  heating_degree_days   75757 non-null  int64
 45  precipitation_inches  75757 non-null  float64
 46  snowfall_inches       75757 non-null  float64
 47  snowdepth_inches      75757 non-null  int64
 48  avg_temp              75757 non-null  float64
 49  days_below_30F        75757 non-null  int64
 50  days_below_20F        75757 non-null  int64
 51  days_below_10F        75757 non-null  int64
 52  days_below_0F         75757 non-null  int64
 53  days_above_80F        75757 non-null  int64
 54  days_above_90F        75757 non-null  int64
 55  days_above_100F       75757 non-null  int64
 56  days_above_110F       75757 non-null  int64
 57  site_eui              75757 non-null  float64
dtypes: float64(19), int64(36), object(3)
memory usage: 33.5+ MB

In [ ]:
df.duplicated().sum()

42

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

0

## **Data Encoding**

In [ ]:
for col in ["State_Factor", "building_class", "facility_type"]:
  print(f'number of column {col} is : ',df[col].nunique())
  print(f'number of column {col} is : ',df[col].unique())

number of column State_Factor is :  7
number of column State_Factor is :  ['State_1' 'State_2' 'State_4' 'State_6' 'State_8' 'State_10' 'State_11']
number of column building_class is :  2
number of column building_class is :  ['Commercial' 'Residential']
number of column facility_type is :  60
number of column facility_type is :  ['Grocery_store_or_food_market'
 'Warehouse_Distribution_or_Shipping_center' 'Retail_Enclosed_mall'
 'Education_Other_classroom' 'Warehouse_Nonrefrigerated'
 'Warehouse_Selfstorage' 'Office_Uncategorized' 'Data_Center'
 'Commercial_Other' 'Mixed_Use_Predominantly_Commercial'
 'Office_Medical_non_diagnostic' 'Education_College_or_university'
 'Industrial' 'Laboratory' 'Public_Assembly_Entertainment_culture'
 'Retail_Vehicle_dealership_showroom' 'Retail_Uncategorized'
 'Lodging_Hotel' 'Retail_Strip_shopping_mall' 'Education_Uncategorized'
 'Health_Care_Inpatient' 'Public_Assembly_Drama_theater'
 'Public_Assembly_Social_meeting' 'Religious_worship'
 'Mixed_Use_Commercial_and_Residential' 'Office_Bank_or_other_financial'
 'Parking_Garage' 'Commercial_Unknown'
 'Service_Vehicle_service_repair_shop' 'Service_Drycleaning_or_Laundry'
 'Public_Assembly_Recreation' 'Service_Uncategorized'
 'Warehouse_Refrigerated' 'Food_Service_Uncategorized'
 'Health_Care_Uncategorized' 'Food_Service_Other'
 'Public_Assembly_Movie_Theater' 'Food_Service_Restaurant_or_cafeteria'
 'Food_Sales' 'Public_Assembly_Uncategorized' 'Nursing_Home'
 'Health_Care_Outpatient_Clinic' 'Education_Preschool_or_daycare'
 '5plus_Unit_Building' 'Multifamily_Uncategorized'
 'Lodging_Dormitory_or_fraternity_sorority' 'Public_Assembly_Library'
 'Public_Safety_Uncategorized' 'Public_Safety_Fire_or_police_station'
 'Office_Mixed_use' 'Public_Assembly_Other' 'Public_Safety_Penitentiary'
 'Health_Care_Outpatient_Uncategorized' 'Lodging_Other'
 'Mixed_Use_Predominantly_Residential' 'Public_Safety_Courthouse'
 'Public_Assembly_Stadium' 'Lodging_Uncategorized' '2to4_Unit_Building'
 'Warehouse_Uncategorized']

# **Label Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in ["State_Factor", "building_class", "facility_type"]:
  df[col] = le.fit_transform(df[col])

In [ ]:
df["State_Factor"].unique()

array([0, 3, 4, 5, 6, 1, 2])

# **Data Scaling (Normalization)**
MinMaxScaler

In [ ]:
x =df.drop(["State_Factor"], axis=1)
y = df["State_Factor"]           #y-> Target

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [ ]:
x.min(), x.max()

(0.0, 1.0000000000000002)

In [ ]:
print("state factor:   ",y.value_counts())
print("Normalization: ", y.value_counts(normalize=True))

state factor:    State_Factor
5    50804
2     6412
0     5613
3     4870
4     4300
6     3701
1       15
Name: count, dtype: int64
Normalization:  State_Factor
5    0.670990
2    0.084686
0    0.074133
3    0.064320
4    0.056792
6    0.048881
1    0.000198
Name: proportion, dtype: float64

In [ ]:
x.shape, y.shape

((75715, 57), (75715,))

# Dimensionality Reduction

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=32)
x = pca.fit_transform(x)

In [ ]:
x.shape

(75715, 32)

# Feature Selection

In [ ]:
x.shape

(75715, 32)

In [ ]:
#from sklearn.feature_selection import SelectKBest
#selector = SelectKBest(k=10)
#x = selector.fit_transform(x, y)

# Spliting Data
### train test split

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [ ]:
print("X_train = ",x_train.shape ," y_train = ", y_train.shape)
print("X_test  = ",x_test.shape ," y_test  = ", y_test.shape)

X_train =  (60572, 32)  y_train =  (60572,)
X_test  =  (15143, 32)  y_test  =  (15143,)